body{
    background-color: #f7e4d4;
    color: #467745;
}

#root{
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#root h1{
    font-family: 'EB Garamond', serif;
    font-weight: 400;
    font-size: 48px;
}

#root #feedback-form{
    /* width: 100vw;
    height: 100vh; */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
    color: #467745;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

#root #feedback-form input.subject{
    width: calc(100vw - 40px);
    height: 60px;
    max-width: 480px;

    padding: 20px;

    color: #467745;
    font-size: 16px;
    background-color: #ffffff;

}

#root #feedback-form textarea{
    width: calc(100vw - 40px);
    height: 120px;
    max-width: 480px;
    
    background-color: #ffffff;

    padding: 20px;

    color: #467745;
    font-size: 16px;
}

::placeholder{
    color: #467745;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

#root #feedback-form div.data-privacy{
    max-width: 480px;
    width: calc(100vw - 40px);
    height: max-content;
    display: flex;
}

#root #feedback-form .data-privacy input.data-privacy-chbox{
    height: 16px;
    width: 16px;

    flex-grow: 0;

    border-radius: 0;
}

#root #feedback-form .data-privacy label{
    flex-grow: 1;

    margin-left: 10px;
    
    font-size: 16px;
    overflow-wrap: break-word;
}

#root #feedback-form .data-privacy label a{
    text-decoration: underline;
}

#root #feedback-form div.data-privacy{
    max-width: 480px;
    width: calc(100vw - 40px);
    height: max-content;
    display: flex;
}

#root #feedback-form button.submit{
    background-color: #467745;
    width: 280px;
    height: 80px;

    border-radius: 40px;

    text-transform: uppercase;
    font-family: 'EB Garamond', serif;
    font-weight: 400;
    font-size: 21px;
    color:#f7e4d4;
    letter-spacing: 0.2em;
}

@media only screen and (max-width: 520px) {
    h1{
        align-self: flex-start;

        margin-left: 20px;

        font-size: 36px;
    }

    input .subject{
        width: calc(100vw - 40px);
    }

    textarea{
        width: calc(100vw - 40px);
    }

    #root #feedback-form div.data-privacy-chbox{
        width: calc(100vw - 40px);
    }
    
    #root #feedback-form label{
        overflow-wrap: break-word;
    }
}